<div>
    <form class="form-inline"
          (ngSubmit)="onSubmit(commentForm)"
          #commentForm="ngForm">
        <div class="form-group mr-3">
            <input type="text"
                   class="form-control"
                   placeholder="Wpisz komentarz..."
                   name="body"
                   #body="ngModel"
                   [class.is-invalid]="body.invalid && body.dirty"
                   [(ngModel)]="comment.body"
                   required
                   minlength="3"
                   maxlength="10">
        </div>
        <button type="submit"
                class="btn btn-primary mb-2"
                [disabled]="commentForm.invalid">
            Dodaj
        </button>

        <!--        <button type="button"
                        class="btn btn-primary mb-2"
                        (click)="commentForm.reset()">
                    Reset
                </button>-->

        <small class="alert alert-danger" *ngIf="body.errors && body.dirty">
            <span *ngIf="body.errors['required']">Aby dodac komentarz wpisz text</span>
        </small>
    </form>
</div>
